*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

body {
  background-color: #4b145b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-container {
  border-radius: 0.5em;
  margin: 5rem auto;
  padding: 2.5rem 2rem;
  width: 90vw;
  max-width: 70vw;
  gap: 1rem 2rem;
  background-color: white;
}

.accordion-container h1 {
  line-height: 1.2;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .accordion-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    line-height: 1.2;
  }
}
.accordion {
  box-shadow: 0 0 10px 4px rgb(228, 228, 228);
  border-radius: 0.2em;
  padding: 18px;
  margin: 20px 0;
}

.accordion-button {
  background-color: rgb(233, 233, 233);
  color: rgb(145, 0, 0);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  line-height: 0;
}
